<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to!
    </h1>
    <img width="300" alt="Angular Logo" src="../../../assets/images/gota.png">
</div>

<div class="cow">

    <div class="col-md-12 text-center">

        <p>
            Ingrese a Go-Gas con su cuenta favorita
        </p>

        <button type="button" class="btn btn-outline-primary" (click)="ingresar(goMaps('google'))">
      Google
    </button>

        <button type="button" class=" btn btn-outline-primary" (click)="ingresar(goMaps('twitter')) ">
      Twitter
    </button>

        <button (click)=goMaps()>Omitir registro</button>



    </div>

</div>