<nav class="navbar navbar-expand-lg ">

    <button class="navbar-toggler" src="../.././../../assets/images/hamburguesa.png" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon sandwich"></span>
    </button>
    <h2 class="text-center"> Go Gas</h2>
    <div class="text-right nombre">
        <img class="icono" [src]="_ls.usuario.foto">
        <a class="nombres">{{_ls.usuario.nombre}}</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['mapa']">Mapa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['gasolinera']">Gasolineras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login'] " (click)="_ls.logout()">Salir</a>
            </li>

        </ul>

    </div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 buscar" type="submit">Search</button>
    </form>




</nav>